.tt{
    margin-top: -8px;
    margin-left: -3px;
    height: 137px;
    display: flex
;
}
.i{
    margin-top: -88px;
    margin-left: 106px;
    width: 77px;
    position: absolute;
}
.bg{
    background-image: url('./image/image 131.png');
    height:646px;
    width:1031px;
}
.dz{
     margin-top: 30px;
}
.qw{
  
    margin-left: 192px;
    margin-top: -19px;
}
.naa{
    display: flex
    ;
        margin-top: 9px;
        border: 1px solid black;
        flex-direction: column;
        width: 219px;
        margin-left: 110px;
        background-color: white;
        position: absolute;
}
.ft{
    width: 228px;
    height: 114px;
    margin-top: -5px;
    margin-left: 109px;
    background-color: wheat;

}
.w{
    margin-left: 392px;
    margin-top: -592px;

}
.caz{
    margin-top: -486px;
    margin-left: 195px;

}
    

.xx{
    display: flex
;
    justify-content: center;
    margin-left: 248px;
}
.ff{
    margin-left: 707px;
    margin-top: -41px;
}
.j{
    margin-left: 396px;
    margin-top: 25px;
}
.dx{
    margin-left: 20px;
}
.vv{
    margin-left: 376px;
    margin-top: -23px;
}
.gen{
    margin-left: 30px;
}
.whole{
    border: 2px solid black;
    background-color: white;
    position: absolute;
    margin-left: 348px;     
}
.co{
    margin-top: 36px;
    margin-left: -134px;
}
.mm{
    margin-top: 20px;
}
.wole{
    display: flex
    ;
        flex-direction: row;
        margin-top: -115px;
        border: 2px solid black;
        margin-left: 439px;
        background-color: white;
        height: 47vh;
        position: absolute;
        width: 530px;
}
       
.fn{
    display: flex
    ;
        margin-top: 48px;
        margin-left: 53px;
    
}
.ln{
    margin-left: 40px;
    margin-top: 48px;
}
.dp{
    width: 132px;
    height: 20px;
    margin-top: 69px;
    margin-left: -27px;
}
.ww{
    margin-left: -64px;
    margin-top: 81px;
    height: 3vh;
}
.ii{
    margin-left: -64px;
    margin-top: 81px;
    height: 3vh;


}
.pr{
    margin-left: -79px;
    margin-top: 152px;
    height: 3vh;
}
.sss{
    margin-left: -380px;
    margin-top: 129px;
}
.aan{
    margin-left: 64px;
    margin-top: 157px;

}
.rou{
    margin-left: -51px;
    margin-top: -8px;
}
.roq{
    margin-left: -62px;
    margin-top: -9px;
}
.is{
    margin-top: 130px;
    margin-left: -82px;
}
.man{
    margin-top: 205px;
    margin-left: -297px;
}
.pae{
    margin-top: 228px;
    height: 3vh;
    margin-left: -95px;
}
.numm{
    margin-left: 46px;
    margin-top: 207px;
}
.pp{
    margin-top: 228px;
    height: 3vh;
    margin-left: -98px;
}
.laa{
    margin-left: -384px;
    margin-top: 284px;
    border: 1px solid black;
    width: 94px;
    height: 4vh;
}
.zaa{
    margin-left: -468px;
    height: 4vh;
    width: 117px;
    margin-top: 280px;
}
.wz{
    display: flex;
    flex-direction: column;
}